/* Add this to include Comfortaa from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background-color: #F7F8FC;
    color: #333;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    max-width: 1000px;
    max-height: 50vh;
    gap: 20px;
}
.main-h1 {
    padding-top: 250px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 124%;
}

.kitten-name{
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 124%;
}

.kitten-age{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 124%;
    color: #B2C1D1;
}
.kitten-phone{
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 124%;
    color: #B2C1D1;
}
.your-kittens {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 124%;
    color: #B2C1D1;
}

.selected-courses-title{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 124%;
    color: #B2C1D1;
    margin-top: 40px;
}


.main-h1::before {
    content: "";
    display: table;
    margin-top: -1px;
}


.wrapper-kittens-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
}
#profile-container {
    width: 1350px;
}

.kitten-profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-top: 12px;
    align-items: center;
    gap: 20px;
}

.kitten-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 60px;
    margin-top: 74px;
}

.kitten-details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.kitten-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 30px;
}

.react-container {
    position: absolute;
    left: 288px;
    top: 0;
    font-family: 'Comfortaa', cursive;
}

.selected-courses{
    border-radius: 20px;
    background-color: rgba(134, 124, 244, 0.2);
}

.add-kitten-btn{
    border-radius: 40px;
    background-color: white;
    color: #867CF4;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
}
.add-kitten-text {
    font-weight: 700;
    font-size: 28px;
    color: white;
    padding-bottom: 20px;
}
.add-kitten-info-wrapper{
    padding-top: 60px;
    margin-left: 100px;
}

.add-kitten-wrapper{
    margin-top: 50px;
    margin-bottom: 80px;
    height: 251px;
    border-radius: 20px;
    background-color: #867CF4;
}

.kitten-courses, .course-item {
    border-radius: 10px;
    margin: 5px 0;
    font-weight: 700;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #867CF4;
}

.add-course-button {
    background-color: #6C63FF;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 35px;
    align-self: flex-end;
    width: 100%;
    font-size: 16px;
    line-height: 21px;
    font-family: 'Nunito Sans', sans-serif;
}


button:hover, .add-course-btn:hover {
    background-color: #5a52d5;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(79, 78, 78, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content, .modalCourses {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 15px;
    width: 60vw;
    max-width: 100%;
}
.inputs {
    width: 100%;
}

.close {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
}


input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Responsive design */
@media (max-width: 768px) {
    .kitten-profile,
    .modal-content {
        width: 90vw;
    }
}

.your-kittens {
    padding-top: 125px;
}


.kitten-left-side-wrapper,
.right-side-wrapper {
    display: flex;
    flex-basis: 50%;
}

.kitten-left-side-wrapper {
    flex-direction: row;
    align-items: center;
}

p {
    margin-block-start: 0;
    margin-block-end: 0!important;
}


.kitten-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side-wrapper {
    display: flex;
    flex-direction: column;
}

.courses-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-backdrop-bg, rgba(0, 0, 0, 0.36));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal-kitten-form {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1100px;
    padding: 20px;
}

.modal-content, .modalCourses {
    display: flex;
    flex-direction: column;
}

.close {
    align-self: flex-end;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
}

h2 {
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.add-kitten-modal-form, .add-kitten-modal-form .courses-list  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.add-kitten-modal-form .course-item {
    position: relative;
    height: 148px;
}

.add-kitten-modal-form input[type="checkbox"]{
    position: absolute;
    top: 10px;
    right: 10px;
}

.add-kitten-modal-form input[type="text"],
.add-kitten-modal-form input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 48%;
    margin-bottom: 15px;
    font-size: 1rem;
}

.courses-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: row;
}

.courses-list .course-item {
    width: 48%;
}

.modal-kitten-form .course-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item.selected {
    border-color: #6200EA;
    background-color: #EDE7F6;
}

.course-item img {
    max-width: 50px;
    margin-right: 10px;
}

.course-item .course-name {
    flex-grow: 1;
}

.course-item .course-price {
    font-weight: bold;
}

button[type="submit"] {
    background-color: #6200EA;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #7F39FB;
}