body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEe6ff;
    color: #2b2d42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

nav a {
    margin: 0 10px;
    color: #8d99ae;
    text-decoration: none;
    font-size: 12px;
}

form {
    display: flex;
    align-items: center;
}

form input {
    margin: 0 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #8d99ae;
    color: #eee6ff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

main h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

#main p {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #eee6ff;
    border-radius: 10px;
    background: none;
    overflow: hidden;
}

.yellow-text {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: yellow;
    text-align: left;
}

.product img {
    width: 100%;
    height: auto;
}